<link
  href="http://fonts.googleapis.com/css?family=Roboto"
  rel="stylesheet"
  type="text/css"
/>
<div class="contenedor">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="../../../assets/valikiria producciones-56.jpg"
        class="img-fluid"
        id="fotoperfil"
      />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
      <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Sobre Mi</h1>
        <p id="sobreMi">
          natus facere minima vel adipisci eius architecto quaerat excepturi,
          nam harum.
        </p>
      </span>
    </div>
  </div>
</div>
