.contenedor{
    height: 300px;
    margin: 0;
    padding: 0;
}
.row {
    color: aliceblue;
    padding: 20px ;
}
div{
    background-color:#f72585 ;
    text-align: center ;
}
/* etiqueta nombre */
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
#sobreMi{
    font-size: 1.5rem;
    
} 
/* foto de perfil */
/* @media (min-width: 750px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        margin-top: -150px;
        top: 540px;

    }}
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 620px;

    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        margin-top: -150px;

 }   } */

    @media only screen and (min-width: 360px) and (max-width: 575px) {
        #fotoperfil{
        
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        margin-top: -150px;
        }
    }

    @media only screen and (min-width: 576px) and (max-width: 750px) {
        #fotoperfil{
        
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 3%;
            top: 620px;
        }
    }
    @media only screen and (min-width: 751px) and (max-width: 1110px) {
        #fotoperfil{
        
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 3%;
            top: 600px;
        }
    }

    @media only screen and (min-width: 1111px) and (max-width: 1886px) {
        #fotoperfil{
        
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 3%;
            top: 550px;
        }
    }

