<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1>- <h3>años</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci perferendis sint fuga aperiam, minus facere ut aspernatur asperiores dolores quidem corrupti vero eum. Ipsa dolor veritatis nam repudiandae consequuntur.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1>- <h3>años</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci perferendis sint fuga aperiam, minus facere ut aspernatur asperiores dolores quidem corrupti vero eum. Ipsa dolor veritatis nam repudiandae consequuntur.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1>- <h3>años</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci perferendis sint fuga aperiam, minus facere ut aspernatur asperiores dolores quidem corrupti vero eum. Ipsa dolor veritatis nam repudiandae consequuntur.</p>
        </ul>

    </div>

</div>